hr {
  background-color: #00b2f0;
  border: none;
  height: 2px;
}

body {
  background-color: #454e57;
  color: #fff;
  font-family: sans-serif;
  margin-right: 20%;
  margin-left: 20%;
  margin-bottom: 3%;
  margin-top: 3%;
  
}

/* All input CSS*/

input[type="text"] {
  background-color: #454e57;
  width: 100%;
  border: none;
  border-bottom: 1px solid #81868c;
  color: #fff;
}

input::placeholder {
  color: #81868c;
  font-size: 1.5em;
  
}

.flex-container {
  display: flex;
  flex-direction: row;
}

.flex-container input {
  margin: 10px;
}

input[type="tel"] {
  background-color: #454e57;
  color: #fff;
  border: none;
  border-bottom: 1px solid #81868c;
}
input.email {
  background-color: #454e57;
  width: 60%;
  border: none;
  border-bottom: 1px solid #81868c;
  color: #fff;
}

input[name="invalid"] {
  border-bottom: 1px solid red;
}

@media screen and (max-width: 480px) {
  body {
    margin-right: 5%;
    margin-left: 5%;
  }

  input::placeholder {
    font-size: 1.5em;
    
  }
}
@media screen and (min-width: 480px) and (max-width: 720px) {
  body {
    margin-right: 7%;
    margin-left: 7%;
  }
}
@media screen and (min-width: 720px) and (max-width: 1280px) {
  body {
    margin-right: 10%;
    margin-left: 10%;
  }
  h3 {
    font-size: 2.5em;
  }
  input::placeholder {
    font-size: 2em;
  }

}
@media only screen and (min-width: 1280px) and (max-width: 1440px) {

}