header {
  text-align: center;
}

@media only screen and (max-width: 480px) {
  h1 {
    font-size: 1.5em;
  }
  p {
    font-size: 1em;
  }
}
@media only screen and (min-width: 480px) and (max-width: 720px) {
  h1 {
    font-size: 2.1em;
  }
  p {
    font-size: 1.5em;
  }
}
@media only screen and (min-width: 720px) and (max-width: 1280px) {
  h1 {
    font-size: 2.2em;
  }
  p {
    font-size: 1.6em;
  }
}

@media only screen and (min-width: 1280px) and (max-width: 1440px) {
  h1 {
    font-size: 2.3em;
  }
  p {
    font-size: 1.7em;
  }
}

@media only screen and (min-width: 1440px)  {
  h1 {
    font-size: 2.4em;
  }
  p {
    font-size: 1.8em;
  }
}