header {
  text-align: center;
}

@media only screen and (max-width: 480px) {
  h1 {
    font-size: 1.8em;
  }
  p {
    font-size: 1em;
  }
}
@media only screen and (min-width: 480px) and (max-width: 720px) {
  h1 {
    font-size: 3em;
  }
  p {
    font-size: 1em;
  }
}
@media only screen and (min-width: 720px) and (max-width: 1280px) {
  h1 {
    font-size: 3.5em;
  }
  p {
    font-size: 2em;
  }
}

@media only screen and (min-width: 1280px) and (max-width: 1440px) {
  h1 {
    font-size: 5em;
  }
  p {
    font-size: 2em;
  }
}