input.floatLeft {
  float: left;
  width: 60%;
}

input.floatRight {
  float: right;
  width: 30%;
}

hr.greyHr {
  background-color: #81868c;
  height: 1px;
  border: none;
}

input.location, input.locationend {
  width: 23%;
}

li input[type="text"] {
  width: 100%;
  margin-right: 20px;
}


br.mobile {
  display: none;
}

div.flex-container {
  justify-content: space-between;
}
@media screen and (max-width: 480px) {
  input.location {
    width: 30%;
  }

  br.mobile {
    display: block;
  }
}
@media screen and (min-width: 480px) and (max-width: 720px) {

}
@media screen and (min-width: 720px) and (max-width: 1280px) {
  
}

@media only screen and (min-width: 1280px) and (max-width: 1440px) {

}

@media only screen and (min-width: 1440px)  {

}