input.floatLeft {
  float: left;
  width: 60%;
}

input.floatRight {
  float: right;
  width: 30%;
}

hr.greyHr {
  background-color: #81868c;
  height: 1px;
  border: none;
}

input.location {
  width: 20%;
  margin-right: 60px;
}

input.locationend {
  width: 20%;
  float: right;
}

li input[type="text"] {
  width: 100%;
  margin-right: 20px;
}

li input[type="button"] {
  background-color: #00b2f0;
  border-color: #00b2f0;
  height: 30px;
  width: 100px;
  color: #fff;
}

br.mobile {
  display: none;
}

@media screen and (max-width: 480px) {
  input.location {
    width: 30%;
  }

  br.mobile {
    display: block;
  }
}
@media screen and (min-width: 480px) and (max-width: 720px) {

}
@media screen and (min-width: 720px) and (max-width: 1280px) {
  
}

@media only screen and (min-width: 1280px) and (max-width: 1440px) {

}

@media only screen and (min-width: 1440px)  {

}