input[type="url"] {
  background-color: #454e57;
  width: 100%;
  border: none;
  border-bottom: 1px solid #81868c;
  color: #fff;
}

/* Text areas*/
textarea {
  background-color: #454e57;
  width: 100%;
  border-color: 1px solid #81868c;
  color: #fff;
}

textarea::placeholder {
  color: #81868c;
}

@media screen and (max-width: 480px) {
textarea {
  font-size: 1em;
}
}
@media screen and (min-width: 480px) and (max-width: 720px) {
  textarea {
    font-size: 1em;
  }
}
@media screen and (min-width: 720px) and (max-width: 1280px) {
  textarea {
    font-size: 1.4em;
  }
}

@media only screen and (min-width: 1280px) and (max-width: 1440px) {
  textarea {
    font-size: 1.5em;
  }
}

@media only screen and (min-width: 1440px)  {
  textarea {
    font-size: 1.5em;
  }
}