ul {
  list-style-type: none;
}

 ul.flex-container {
  justify-content: space-between;
}


#EmptyValid small {
  color: #81868c;
}

#inputExperience{
  width : 50%;
  float: left;
  margin-right: 10px;
}

.inputExp {
  margin-top: 40%;
  display: flex;
  align-items: baseline;
  margin-right: 10px;
}

li input[type="button"] {
  background-color: #00b2f0;
  border-color: #00b2f0;
  height: 30px;
  color: #fff;
  width: 100%;
}

@media screen and (max-width: 480px) {
 ul.flex-container {
    flex-direction: column;
  }
  .inputExp {
    margin-top: 10%;
    
  }
}
@media screen and (min-width: 480px) and (max-width: 720px) {

}
@media screen and (min-width: 720px) and (max-width: 1280px) {
  
}

@media only screen and (min-width: 1280px) and (max-width: 1440px) {

}

@media only screen and (min-width: 1440px)  {

}